//======================================//
//  JordanPak | Responsive Breakpoints  //
//======================================//


//=============//
//  VARIABLES  //
//=============//

//  BREAKPOINT                      Width       DESCRIPTION
//  ----------------------------------------------------------------------------------
    $breakpoint-extra-extra-small:  460px;      // 0 to Extra Extra Small
    $breakpoint-extra-small:        600px;      // Extra Extra Small up tp Extra Small
    $breakpoint-small:              800px;      // Extra Small up to Small
    $breakpoint-medium:             960px;      // Small up to Medium
    $breakpoint-medium-large:      1024px;      // Medium to Medium Large
    $breakpoint-large:             1200px;      // Medium Large to Large (Desktop)
    $breakpoint-extra-large:       1400px;      // Large to Extra Large


//=========//
//  MIXIN  //
//=========//

@mixin breakpoint( $class ) {

    @if $class == extra-extra-small {
        @media (max-width: $breakpoint-extra-extra-small) { @content; }
    }
    @if $class == extra-small {
        @media (max-width: $breakpoint-extra-small) { @content; }
    }
    @if $class == small {
        @media (max-width: $breakpoint-small) { @content; }
    }
    @if $class == medium {
        @media (max-width: $breakpoint-medium) { @content; }
    }
    @if $class == medium-large {
        @media (max-width: $breakpoint-medium-large) { @content; }
    }
    @if $class == large {
        @media (max-width: $breakpoint-large) { @content; }
    }
    @if $class == extra-large {
        @media (max-width: $breakpoint-extra-large) { @content; }
    }

} // breakpoint()
