//========================//
//  JordanPak | Comments  //
//========================//

.entry-comments {
    display: block;
    padding: 0;
    background: none;
    border: 0;
} // .entry-contents

.comment-list {
    display: block;
    padding: 0;
    margin: 0;

    li li {
        margin-right: -$space-default-half;
    }

    li {
        margin-top: $space-default-half;
        padding: $space-default-half;
    }

    > .comment {
        padding: 0;
    }

    .comment {
        background: none;
        border: none;

        article {
            padding: $space-default-middle;
            background: $white;
            border-bottom: 2px solid $secondary-mid-light;
            font-size: 16px;
        }

    } // .comment

} // .comment-list

.comment-reply-link {
    @include button( sm );
}
