//========================//
//  JordanPak | Comments  //
//========================//

.entry-comments {
    display: block;
    padding: 0;
    background: none;
    border: 0;
} // .entry-contents

.comment-list {
    display: block;
    padding: 0;
    margin: 0;

    li li {
        margin-right: -$space-default-half;
    }

    li {
        margin-top: $space-default-half;
        padding: $space-default-half;
    }

    > .comment {
        padding: 0;
    }

    .comment {
        background: none;
        border: none;

        article {
            padding: $space-default-middle;
            background: $white;
            border-bottom: 2px solid $secondary-mid-light;
            font-size: 16px;
        }

    } // .comment

    .children {
        padding-bottom: $space-default-middle;

        li {
            margin-top: 0;
            padding-bottom: 0;
        }

    } // .children

} // .comment-list

.comment-author {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;

    a {
        color: $black;
        border-bottom: 2px solid $transparent;

        &:hover {
            border-bottom: 2px solid $primary;
        }

    } // a

    .says {
        font-weight: normal;
        color: $secondary-mid;
    }

} // .comment-author

.comment-meta a {
    color: $secondary-mid;
    font-size: 14px;
    // font-weight: 700;
    font-style: italic;
}

.comment-reply-link {
    @include button( sm );
}

.comment-respond label {
    font-weight: bold;

    .required {
        color: #ff0000;
    }

} // .comment-respond label
