//=========================================//
//  JordanPak | Widget: Featured WP Stuff  //
//=========================================//

//-- WIDGET AREA --//
#featured-stuff {
    margin: 0 0 60px 0;
    background: $secondary;
    color: $white;
    text-align: center;

    @include breakpoint( med ) {
        margin-bottom: $space-default;
    }

	@include breakpoint( sm ) {
		padding: 30px 0;
	}

	// TEXT WIDGET
    .widget {
        @include col( one-third );
		padding: 50px 0;

        &:first-child {
            @include col( one-third, true );
        }

        @include breakpoint( sm ) {

			@include col( one-whole );
			padding: 30px 0;

            &:first-child {
                @include col( one-whole );
            }

        } // Breakpoint: S

		.widgettitle {
			margin-bottom: 10px;
			font-weight: 300;
			font-size: 28px;
			color: $white;

			.fa {
				margin-right: 14px;
			}

		} // .widgettitle

		p {
			margin-bottom: $space-default-half;
			font-size: 16px;
			font-weight: 300;
		}

		img {
			margin-top: 10px;
		}

		.button-lg {
			margin-top: $space-default;

			@include breakpoint( sm ) {
				margin-top: $space-default-half;
			}

		} // .button-lg

    } // TEXT .widget

    .wordpress-stuff {
		cursor: default;

        h3 {
            display: inline-block;
            margin-bottom: 2px;
            padding-bottom: 2px;
            font-family: $font-family-sans-serif;
            font-weight: 300;
            font-size: 36px;
            border-bottom: 1px solid $primary;
        }

        p {
            margin-bottom: 0;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 22px;
        }

    } // .wordpress stuff

} // #featured-stuff
