//=========================================//
//  JordanPak | Widget: Featured WP Stuff  //
//=========================================//

#featured-stuff {
    margin: 0;
    margin-bottom: 400px;
    padding: $space-default;
    background: $secondary;

    .widget {
        
    }

} // #featured-stuff
