//=========================================//
//  JordanPak | Widget: Featured WP Stuff  //
//=========================================//

#featured-stuff {
    margin: 0;
    margin-bottom: $space-default + $space-default-half;
    padding: ($space-default * 2) 0;
    background: $secondary;
    color: $white;
    text-align: center;

    @include breakpoint( medium ) {
        margin-bottom: $space-default;
    }

    @include breakpoint( small ) {
        padding: ($space-default-half * 3) 0;
    }

    h1, h2, h3, h4, h5, h6 {
        color: $white;
    }

    .widget {
        @include col( one-third );

        &:first-child {
            @include col( one-third, true );
        }

        @include breakpoint( small ) {
            @include col( one-whole );
            margin-bottom: $space-default + 10px;

            &:first-child {
                @include col( one-whole );
                margin-bottom: $space-default;
            }

            &:last-child {
                margin-bottom: 0;
            }

        } // Breakpoint: S

    } // .widget

    .wordpress-stuff {

        h3 {
            display: inline-block;
            margin-bottom: 2px;
            padding-bottom: 2px;
            font-family: $font-family-sans-serif;
            font-weight: 300;
            font-size: 36px;
            border-bottom: 1px solid $primary;
        }

        p {
            margin-bottom: 0;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 22px;
        }

    } // .wordpress stuff

} // #featured-stuff
