//=====================//
//  JordanPak | Forms  //
//=====================//

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {

	@include breakpoint( sm ) {
		width: 100%;
	}

} // .comment-respond Inputs


input, select, textarea {
    font-size: 16px;
    font-weight: 400;
}

input:focus, textarea:focus {
    border-color: $primary;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button {
    @include button();
}


// NINJA FORMS

.ninja-forms-required-items {
    margin-bottom: $space-default-half;
}

.field-wrap {
    margin-bottom: 30px !important;
}
