//=================================//
//  JordanPak | Widget: Home Hero  //
//=================================//

#home-hero {
    padding: $space-default * 2;
    padding-top: $space-default * 3;
    background: url('images/hero-bg.jpg') no-repeat top center $primary;
    color: $white;
    text-align: center;
    text-shadow: 0 0 10px $primary-dark, 0 1px 3px $primary-dark;

    h2 {
        font-size: 56px;
        font-family: $font-family-sans-serif;
        font-weight: 300;
        color: $white;
        letter-spacing: -0.022em;

        strong {
            font-family: $font-family-condensed;
        }

        b {
            font-weight: 400;
        }

    } // h2

    p {
        font-size: 28px;
        margin: 0;
    }

    .button {
        margin-top: $space-default;
        @include button-outline( white );

        &:hover {
            text-shadow: none;
            color: $primary;
        }

    } // .button

    @include breakpoint( med-lg ) {
        padding: 60px;
        padding-top: 100px;

        h2 {
            font-size: 48px;
        }

        p {
            font-size: 24px;
        }

    } // Breakpoint: Lg

    @include breakpoint( med ) {
        padding: 100px 45px 60px 45px;

        h2 {
            font-size: 44px;
        }

        p {
            font-size: 22px;
        }

    } // Breakpoint: Med

    @include breakpoint( sm ) {
        padding: 80px 60px;

        .wrap {
            padding: 0;
        }

        h2 {
            font-size: 42px;
            margin-bottom: 20px;
        }

        p {
            font-size: 22px;
        }

    } // Breakpoint: Sm

    @include breakpoint( xs ) {
        padding: 60px;

        h2 {
            font-size: 38px;
        }

        p {
            font-size: 20px;
        }

    } // Breakpoint: XS

} // #home-hero
