//=================================//
//  JordanPak | Widget: Home Hero  //
//=================================//

#home-hero {
    background: $primary;
    color: $white;
    text-align: center;

    h2 {
        color: $white;
    }

} // #home-hero
