//================================================//
//  JordanPak | Widget: Home Featured Blog Posts  //
//================================================//

section.featuredpost {
    margin-bottom: $space-default;

    @include clearfix();

    .entry {
        padding: $space-default;
        background: $white;
        border-top: 5px solid $secondary-mid-light;

        @include col( one-half );

        &:first-child {
            @include col( one-half, true );
        }

        @include breakpoint( sm ) {
            @include col( one-whole );

            &:first-child {
                @include col( one-whole );
                margin-bottom: $space-default;
            }

        } // Breakpoint: S

        @include breakpoint( xs ) {

            &:first-child {
                margin-bottom: $space-default-middle;
            }

        }

    } // .entry

    p {
        margin: 0;
    }

    .entry-title {
        padding: 0;
        font-size: 36px;
        border: 0;
    }

    .post-info {
        margin: 2px 0 $space-default-half 0;
        font-weight: 700;
        text-transform: uppercase;;
        font-size: 14px;
        color: $secondary-mid;
    }

    .more-link {
        @include button();
        @include button-size( xsm );
		display: block;
		margin-top: $space-default-middle;
		width: 150px;
		text-align: center;

		@include breakpoint( sm ) {
			@include button-size( sm );
		}

    } // .more-link

} // section.featuredpost
