//======================//
//  JordanPak | Mixins  //
//======================//


//===============//
//  TRANSITIONS  //
//===============//

@mixin transition-ease-in-out($speed: 200ms) {
    -webkit-transition: all ease-in-out $speed;
            transition: all ease-in-out $speed;
}


//===========//
//  BUTTONS  //
//===========//

@mixin button( $size: med, $color: $primary, $outline: false ) {

    // BASIC DEFAULTS
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .030em;

    @include transition-ease-in-out();


    // PADDING
    @if $size == xsm {
        padding: 4px ($space-default-half - 8px) 3px ($space-default-half - 8px);
    }
    @if $size == sm {
        padding: 8px ($space-default-half - 4px) 7px ($space-default-half - 4px);
    }


    // BORDER
    border: 0;
    -moz-border-radius: 3px;
    border-radius: 3px;


    // TEXT SIZE
    @if $size == xsm {
        font-size: 12px;
    }
    @if $size == sm {
        font-size: 14px;
    }


    // TEXT COLOR
    $text-color: $white;
    @if $color == $secondary-mid-light {
        $text-color: $secondary;
    }
    color: $text-color;


    // BACKGROUND COLOR
    background: $color;


    // HOVER
    &:hover {

        // Background
        @if $color == $primary {
            background: $primary-dark;
        }
        @if $color == $secondary {
            background: $black;
        }
        @if $color == $secondary-mid-light {
            background: $secondary;
        }

        // Text
        color: $white;
        @if $color == $secondary-mid-light {
            color: $white;
        }


    } // &:hover


} // button()


//===========//
//  COLUMNS  //
//===========//

@mixin col( $size, $is_first: false ) {

    // Global
    float: left;
    margin-left: 2.564102564102564%;

    // One Half
    @if $size == one-half {
        width: 48.717948717948715%;
    }
    @if $size == three-sixths {
        width: 48.717948717948715%;
    }
    @if $size == two-fourths {
        width: 48.717948717948715%;
    }

    // One Third
    @if $size == one-third {
        width: 31.623931623931625%;
    }
    @if $size == two-sixths {
        width: 31.623931623931625%;
    }

    // Two Thirds
    @if $size == two-thirds {
        width: 65.81196581196582%;
    }
    @if $size == four-sixths {
        width: 65.81196581196582%;
    }

    // One Fourth
    @if $size == one-fourth {
        width: 23.076923076923077%;
    }

    // Three Fourths
    @if $size == three-fourths {
        width: 74.35897435897436%;
    }

    // One Sixth
    @if $size == one-sixth {
        width: 14.52991452991453%;
    }

    // Five Sixths
    @if $size == five-sixths {
        width: 82.90598290598291%;
    }


    // First?
    @if $is_first == true {
        clear: both;
        margin-left: 0;
    }

} // col()



//============//
//  CLEARFIX  //
//============//

@mixin clearfix() {

    &:before {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
        content: " ";
        display: table;
    }

} // clearfix()
