//=========================//
//  JordanPak | Structure  //
//=========================//


//-- BODY --//

body {
    background: $secondary-light;
} // body



//-- SITE HEADER --//

.site-header {
    height: $site-header-height-large;
    min-height: 0;
    background: $secondary;
    color: $white;

    .wrap {
        position: relative;
        height: $site-header-height-large;
        padding: 0;
    } // .wrap

    @include breakpoint( large ) {
        height: $site-header-height-medium;

        .wrap {
            height: $site-header-height-medium;
        }

    } // Breakpoint: lg

    @include breakpoint( small ) {
        height: auto;

        .wrap {
            height: auto;
        }

    } // Breakpoint: Small

} // .site-header

.title-area {
    position: absolute;
    margin-top: 30px;
    padding: 0;
    width: 460px;

    @include breakpoint( large ) {
        margin-top: 20px;
        width: 360px;
    }

    @include breakpoint( small ) {
        position: static;
        width: 100%;
        text-align: center;
    }

} // .title-area

.header-image .site-title > a {
    min-height: 130px;
    background-size: contain;
    background-position: top;

    @include breakpoint( small ) {
        margin-bottom: $space-default-half;
        min-height: 110px;
        width: 100%;
    }

} // .header-iamge .site-title > a



//-- MINI-HERO --//
#mini-hero {
    display: block;
    width: 100%;
    height: $mini-hero-height;
    background: url('images/hero-bg.jpg') no-repeat top center $primary;
} // #mini-hero



//-- SITE-INNER --//

.site-inner {
    padding: 0;
    margin-top: $mini-hero-displacement;

    @include breakpoint( small ) {
        margin-top: $mini-hero-displacement-small;
    }

    @include breakpoint( extra-small ) {
        margin-top: $mini-hero-displacement-extra-small;
    }

} // .site-inner


.site-inner, .wrap {

    @include breakpoint( medium-large ) {
        max-width: 920px;
    }

    @include breakpoint( medium ) {
        max-width: 800px;
    }

    @include breakpoint( small ) {
        width: 90%;
    }

} // .wrap

.page-template-page_home .site-inner, .no-mini-hero .site-inner {
    margin-top: 0;
}


//-- BORDERS --//

.entry, .sidebar .widget {
    border-top: 5px solid $secondary-mid-light;
    border-bottom: 2px solid $secondary-mid-light;

    &:first-child {
        border-top-color: $primary-dark;
    }

    @include breakpoint( small ) {
        padding: $space-default;
    }

} // .entry, .sidebar .widget



//-- GRID LOOP --//

.genesis-grid-even {
  float: right;
	padding: 0 0 15px;
	width: 48%;
}

.genesis-grid-odd {
	clear: both;
	float: left;
	padding: 0 0 15px ;
	width: 48%;
}

.genesis-grid-even,
.genesis-grid-odd {
	margin: 0 0 20px;
}


//-- COLUMN RESPONSIVENESS --//

@include breakpoint( medium ) {

    .one-fourth {
        width: 48.717948717948715%;
    }

} // Breakpoint: Med

@include breakpoint( extra-small ) {

    .one-fourth {
        width: 100%;
    }

} // Breakpoint: XS
