//=========================//
//  JordanPak | Structure  //
//=========================//


//-- BODY --//
body {
    background: $secondary-light;
} // body


//-- MINI-HERO --//
#mini-hero {
    display: block;
    width: 100%;
    height: $mini-hero-height;
    background: url('images/hero-bg.jpg') no-repeat top center $primary;
} // #mini-hero


//-- SITE-INNER & WRAP --//
.site-inner, .wrap {
    padding: 0;

    @include breakpoint( extra-large ) {
        max-width: $bp-xl-wrap;
    }

    @include breakpoint( large ) {
        max-width: $bp-lg-wrap;
    }

    @include breakpoint( medium-large ) {
        max-width: $bp-med-lg-wrap;
    }

    @include breakpoint( medium ) {
        max-width: $bp-med-wrap;
    }

    @include breakpoint( small ) {
        width: $bp-sm-wrap;
    }

} // .site-inner, .wrap


//-- BREAKPOINT TESTING --//
.wrap, .site-inner {

    @include breakpoint( extra-large ) {
        background-color: rgba(red, .4);
    }
    @include breakpoint( large ) {
        background-color: rgba(blue, .4);
    }
    @include breakpoint( medium-large ) {
        background-color: rgba(green, .4);
    }
    @include breakpoint( medium ) {
        background-color: rgba(purple, .4);
    }
    @include breakpoint( small ) {
        background-color: rgba(red, .4);
    }
    @include breakpoint( extra-small ) {
        background-color: rgba(blue, .4);
    }
    @include breakpoint( extra-extra-small ) {
        background-color: rgba(green, .4);
    }

} // Breakpoint Testing


//-- HERO DISPLACEMENT --//
.site-inner {
    margin-top: $mini-hero-displacement;

    @include breakpoint( small ) {
        margin-top: $mini-hero-displacement-small;
    }

    @include breakpoint( extra-small ) {
        margin-top: $mini-hero-displacement-extra-small;
    }

} // .site-inner Hero Displacement


//-- REMOVE MINI HERO --//
.page-template-page_home, .no-mini-hero {

    .site-inner {
        margin-top: 0;
    }

    #mini-hero {
        display: none;
    }

} // page_home and .no-mini-hero templates/classes


//-- CONTENT MEDIUM-LARGE FIX
.content {

    @include breakpoint( medium-large ) {
        width: 580px;
    }

    @include breakpoint( medium ) {
        width: 100%;
    }

} // .content Medium-Large Fix


//-- GLOBAL BORDERS --//
.entry, .sidebar .widget {
    border-top: 5px solid $secondary-mid-light;
    border-bottom: 2px solid $secondary-mid-light;

    &:first-child {
        border-top-color: $primary-dark;
    }

    @include breakpoint( small ) {
        padding: $space-default;
        margin-bottom: $space-default-half + 10px;
    }

} // .entry, .sidebar .widget


//-- COLUMN RESPONSIVENESS --//
@include breakpoint( medium ) {

    .one-fourth {
        width: 48.717948717948715%;
    }

} // Breakpoint: Med

@include breakpoint( extra-small ) {

    .one-fourth {
        width: 100%;
    }

} // Breakpoint: XS
