//=========================//
//  JordanPak | Structure  //
//=========================//


//-- BODY --//

body {
    background: $secondary-light;
} // body



//-- SITE HEADER --//

.site-header {
    height: $site-header-height;
    min-height: 0;
    background: $secondary;
    color: $white;

    .wrap {
        position: relative;
        height: 102px;
        padding: 0;
    }

    .widget-area {
        position: absolute;
        bottom: 0;
        right: 0;
    }

} // .site-header

.title-area {
    position: absolute;
    margin-top: 30px;
    padding: 0;
    width: 416px;
}

.header-image .site-title > a {
    min-height: 130px;
    background-size: 416px;
}

.site-header .widget-area {
    width: 800px;
}



//-- MINI-HERO --//

#mini-hero {
    display: block;
    width: 100%;
    height: $mini-hero-height;
    background: url('images/hero-bg.jpg') no-repeat top center $primary;
}



//-- SITE-INNER --//

.site-inner {
    padding: 0;
    margin-top: $mini-hero-displacement;
}

.page-template-page_home .site-inner {
    margin-top: 0;
}



//-- WIDGET --//

.entry, .sidebar .widget {
    border-top: 5px solid $primary-dark;
    border-bottom: 2px solid $secondary-mid-light;
}
