//========================-=//
//  JordanPak | Typography  //
//==========================//

body {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $body-text;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-heading;
} // Headers


.page .entry-title {
    text-transform: uppercase;
    font-size: 42px;
}

.content .entry a {
    color: inherit;
    border-bottom: 2px solid $primary;

    &:hover {
        border-color: $body-text;
    }

} // .content .entry a

.content .entry .entry-title a {
    border-bottom: 2px solid $transparent;

    &:hover {
        border-bottom: 2px solid $primary;
    }

} // .content .entry .entry-title a
