//========================-=//
//  JordanPak | Typography  //
//==========================//


//-- UTILITY --//
::-moz-selection {
    background: $secondary;
    color: $white;
    text-shadow: none;
}

::selection {
    background: $secondary;
    color: $white;
    text-shadow: none;
}


//-- GLOBAL BODY --//
body {
    font-family: $font-family-sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: $body-text;
}

body > div {
    font-size: 18px;
}


//-- HEADINGS --//
h1, h2, h3, h4, h5, h6 {
	margin-top: $space-default + 5px;
    font-family: $font-family-heading;

	&:first-child {
		margin-top: 0;
	}

} // Headers

h1 {
    font-size: 52px;
} // h1

h2 {
    font-size: 42px;
} // h2

h3 {
    font-size: 32px;
} // h3

h4 {
	font-size: 28px;
} // h4


//-- ENTRY TITLES & HEADERS --//
.entry-title, .archive-title {
    font-size: 72px;
    margin-bottom: 0;

    @include breakpoint( sm ) {
        font-size: 60px;
    }

    @include breakpoint( xxs ) {
        font-size: 46px;
    }

} // &.entry-title

.entry-header {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid $secondary-mid-light;
    margin-bottom: $space-default + 5px;
    padding-bottom: $space-default + 10px;

    @include breakpoint( sm ) {
        margin-bottom: $space-default;
        padding-bottom: $space-default;
    } // Breakpoint: S

} // .page & .single Entry Headers


//-- GLOBAL ANCHORS --//
a {

	&:active, &:hover, &:focus {
		outline: none;
	}

} // a


//-- INLINE ANCHORS --//
.content .entry {

    a {
        color: inherit;
        border-bottom: 2px solid $primary;

        &:hover {
            border-color: $body-text;
        }

        &.share {
            color: $white;
            border: none;
        }

        &.button {
            // border: none;
        }

    } // a

    .entry-title a {
        border-bottom: 2px solid $transparent;

        &:hover {
            border-bottom: 2px solid $primary;
        }

    } // .entry-title a

} // .content .entry a


//-- ENTRY META --//
.entry-header .entry-meta {
    margin-bottom: 0;
}

p.entry-meta {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: $secondary-mid;
}

.content .entry .entry-categories {
    display: inline;

    a {
        border: 0;
        color: $primary;

        &:hover {
            color: $primary-dark;
        }

    } // a

} // .entry-categories

.post-info-separator {
    margin: 0 12px;
    letter-spacing: -0.1em;
}


//-- LISTS --//
ul.big {
    margin-top: $space-default-half;
    margin-bottom: $space-default + 10px;
    font-size: 18px;

    li {
        margin-bottom: $space-default-half - 4px;
    }

} // ul.big

ul.checkmark {
    margin-left: $space-default-half;

    li {
        list-style-type: none;
        padding-left: $space-default-middle + 2px;
        background-image: url('images/bullet-checkmark.png');
        background-repeat: no-repeat;
        background-position: 0 5px;
    }

	@include breakpoint( xs ) {
		margin-left: 0;
	}

} // ul.checkmark

ul.features {
    margin: 0;
    padding: 0;
    border-radius: 6px;
    border: 2px solid $secondary-mid-light;
    border-bottom: 3px solid $secondary-mid-light;
    font-size: 16px;
    font-weight: 500;

    li {
        padding: 14px 20px 14px 50px;
        list-style-type: none;
        background-image: url('images/bullet-checkmark.png');
        background-repeat: no-repeat;
        background-position: 12px 17px;
        border-bottom: 1px solid $secondary-mid-light;
        cursor: default;

        @include transition-ease-in-out( 150ms );

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background-color: $secondary-light;
        }

    } // li

} // ul.features


//-- HORIZONAL RULE --//
hr {
    margin: ($space-default-half * 3) 0;
}


//-- SHARING --//
.share-after {
    margin-top: $space-default + $space-default-half;
}


//-- WIDGET --//
.widgettitle {
    font-size: 32px;
}


//-- BUTTON --//
button, input[type="button"], input[type="reset"], input[type="submit"], .button, .content .entry .button {

	@include button();

    // Additional Colors
    &.button-dark {
        @include button( dark );
    }
    &.button-light {
        @include button( light );
    }

    // Sizes
    &.button-xsm {
        @include button-size( xsm );
    }
    &.button-sm {
        @include button-size( sm );
    }
    &.button-lg {
        @include button-size( lg );
    }

    // Outline Button
    &.button-outline {

        @include button-outline();

        // Outline Colors
        &.button-dark {
            @include button-outline( dark );
        }
        &.button-white {
            @include button-outline( white );
        }

    } // &.button-outline

} // All Buttons
