//=========================//
//  JordanPak | Variables  //
//=========================//


//==========//
//  COLORS  //
//==========//

//-- BASIC --//
$white:         #FFFFFF;
$black:         #000000;


//-- PRIMARY --//
$primary:           rgba(141, 198, 63, 1); // JP Green
$primary-dark:    rgba(112, 177, 42, 1);
$primary-darkest:   rgba(60, 106, 10, 1);


//-- SECONDARY --//
$secondary:         rgba(32, 28, 29, 1); // JP Gray
$secondary-mid:     rgba(121, 122, 125, 1); // JP Dark Gray
$secondary-light:   rgba(247, 247, 247, 1); // JP Light Gray


//-- DEFAULTS --//
$body-text:         #333333;



//===========//
//  SPACING  //
//===========//

$space-default:         40px;
$space-default-half:    $space-default / 2;
$space-default-middle:  $space-default-half + ($space-default-half / 2);
